span.centered {
  p {
    text-align: center;
  }
}

aside.sidebar {
  #twitter-profile {
    img.left {
      margin-bottom: 0px;
    }
    p + p {
      font-size: 80%;
      text-align: center;
      margin-top: 3em;
      margin-bottom: 1.8em;
    }
  }
}